<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="uk.gov.hmrc.play.logging.JsonEncoder"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.FileAppender"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="FILE" class="FileAppender">
        <file>logs/customs-notification.log</file>
        <encoder class="PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_JSON" class="FileAppender">
        <file>logs/customs-notification-json.log</file>
        <encoder class="JsonEncoder"/>
    </appender>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>[%level][%logger][%.3thread]%message %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_IGNORE_NETTY" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[not-available] user=[not-available] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS_LOG_FILE" class="FileAppender">
        <file>logs/access.log</file>
        <encoder class="PatternLayoutEncoder">
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="CONNECTOR_LOG_FILE" class="FileAppender">
        <file>logs/connector.log</file>
        <encoder class="PatternLayoutEncoder">
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <logger name="uk.gov.hmrc.customs.notification" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE_JSON"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>